/* body */
.l-body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';

  // .l-body--in-sub
  &--in-sub {
    @media (--min-lg) {
      --layout-wrap: nowrap;
      --layout-main-width: calc(var(--container) - var(--layout-sub-width));
      --layout-sub-width: 40rem;
    }
  }

  // .l-body__header
  &__header {
    grid-area: header;
  }

  // // .l-body__container
  // &__container {
  //   flex: 1 1 auto;
  // }

  // .l-body__main
  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background: var(--color-gray-0);
  }

  // .l-body__content
  &__content {
    display: flex;
    flex-wrap: var(--layout-wrap);
    justify-content: center;
    flex: 1 1 auto;

    // .l-body__content-main
    &-main {
      width: var(--layout-main-width); /* 40remはサイドバーの値 */
      max-width: 100%;
    }

    // .l-body__content-sub
    &-sub {
      width: var(--layout-sub-width); /* 40remはサイドバーの値 */
      max-width: 100%;
    }
  }

  // .l-body__footer
  &__footer {
    grid-area: footer;
  }
}
