/* transform */
@mixin transform($prefix: '') {
  // transform
  .#{$prefix}u-rotate-0 {
    transform: rotate(0deg);
  }
  // transform
  .#{$prefix}u-rotate-90 {
    transform: rotate(90deg);
  }
  // transform
  .#{$prefix}u-rotate-180 {
    transform: rotate(180deg);
  }
  // transform
  .#{$prefix}u-translate-left-center {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  .#{$prefix}u-translate-center-top {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  .#{$prefix}u-translate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

@include transform();
@media (--min-lg) {
  @include transform('L\\:');
}
@media (--min-md) {
  @include transform('M\\:');
}
