---
const { id, label, controls } = Astro.props
---

<button id={id} class="c-menu-toggle L:u-hidden" type="button" aria-label={label} aria-controls={controls} aria-expanded="false">
  <span class="c-menu-toggle__u"></span>
  <span class="c-menu-toggle__label">menu</span>
</button>
