/* コンポーネント：アイコン */
.c-icon {
  overflow: visible;
  display: inline;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor;
  position: relative;
  font-size: inherit;
  text-indent: 0;
  flex: 0 0 auto;
}
